@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

section {
  width: 100dvw;
}

@theme {
  --font-sans: "Raleway", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply px-5 md:px-10 py-16 md:py-24;
  }

  .mt-responsive {
    @apply xl:mt-20 md:mt-0 mt-40;
  }
  
  .grid-base {
    @apply grid grid-cols-1;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  .grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
  }

  .grid-3-cols-md-tight {
    @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0;
  }

  .grid-4-cols {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8;
  }

  .grid-12-cols {
    @apply grid grid-cols-1 xl:grid-cols-12 gap-10;
  }

  .hero-layout {
    @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
  }

  .hero-text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
    img {
      @apply size-8 md:size-10 object-contain;
    }
    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }

  .hero-badge {
    @apply bg-black-200 py-2 px-4 rounded-full w-fit text-sm md:text-base text-nowrap;
  }

  .hero-3d-layout {
    @apply xl:w-[70%] w-full h-full min-h-[50vh] absolute xl:-top-20 top-24 xl:-right-20 right-0;
  }

  .navbar {
    @apply fixed w-[97%] left-1/2 py-5 px-5 md:px-20 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out rounded-xl;

    &.scrolled {
      @apply top-0 bg-black/10 backdrop-blur-xl;
    }

    &.not-scrolled {
      @apply md:top-10 top-0 bg-transparent backdrop-blur-md;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }

    .logo {
      @apply text-white text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-105;
    }

    nav.desktop {
      @apply hidden lg:flex flex-1 justify-center ml-45;

      ul {
        @apply flex space-x-10;

        li {
          @apply text-white relative;

          span {
            @apply transition-colors duration-300 hover:text-white;
          }

          .underline {
            @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
          }
        }
      }
    }

    .contact-btn {
      @apply flex;

      .inner {
        @apply px-5 py-2 rounded-lg bg-white text-black group-hover:bg-black-50 transition-colors duration-300;

        span {
          @apply group-hover:text-white transition-colors duration-300;
        }
      }
    }
  }

  .app-showcase {
    @apply w-full flex items-center justify-center;

    .showcaselayout {
      @apply flex xl:flex-row flex-col gap-10 justify-between;
    }

    .card {
      @apply relative z-10 overflow-hidden transition-transform duration-300 ease-in-out;
    }

    .card-title {
      @apply text-center text-lg md:text-xl font-semibold text-white mt-4;
    }

    .project-image-wrapper {
      @apply w-full h-40 object-contain mb-4;
    }

    .scroll-mt-28 {
      scroll-margin-top: 7rem;
    }

    .card-border {
      @apply border border-black-50 bg-black-100;
    }

    .frosted-card {
      @apply backdrop-blur-2xl bg-black/50 border border-black/20 shadow-lg;
    }

    .card:hover {
      @apply scale-[1.03] shadow-xl;
    }
  }

  .cta-wrapper {
    @apply relative z-20 cursor-pointer;
  }

  .cta-button {
    @apply w-[280px] h-[40px] px-1 py-1 rounded-xl bg-black flex justify-center items-center relative cursor-pointer overflow-hidden;

    .bg-circle {
      @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 
        w-[120%] h-[120%] group-hover:size-10 group-hover:right-10
        rounded-full bg-white transition-all duration-500;
    }

    .text {
      @apply uppercase md:text-lg text-black transition-all duration-500
        group-hover:text-white group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
    }

    .arrow-wrapper {
      @apply group-hover:bg-white size-10 rounded-full absolute right-10 top-1/2 
        -translate-y-1/2 flex justify-center items-center overflow-hidden;

      img {
        @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
      }
    }
  }

  form {
    label {
      @apply block text-white mb-2;
    }

    input,
    textarea {
      @apply w-full px-4 py-4 md:text-base text-sm placeholder:text-blue-50 bg-blue-100 rounded-md;
    }

    a {
      @apply w-full py-4 bg-white text-black font-semibold rounded-md flex justify-center items-center gap-2;

      img {
        @apply inline-block;
      }
    }
  }

}

.slide {
  height: 45px;
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 15s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  9% {
    transform: translateY(-9%);
  }
  17% {
    transform: translateY(-17%);
  }
  25.5% {
    transform: translateY(-25.5%);
  }
  33.5% {
    transform: translateY(-33.5%);
  }
  42.5% {
    transform: translateY(-42.5%);
  }
  66.5% {
    transform: translateY(-66.5%);
  }
  84.5% {
    transform: translateY(-84.5%);
  }
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
  border-radius: 12px;
}

.gradient-waterfall {
  background: linear-gradient(to bottom, #62e0ff, #52aeff, #fd5c79, #6d45ce, #6d45ce, #fd5c79, #52aeff, #62e0ff);
  background-size: 100% 300%;
  background-repeat: no-repeat;
  animation: waterfall 17s ease-in-out infinite;
  animation-timing-function: linear;
  will-change: background-position;
}

@keyframes waterfall {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.frosted-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: radial-gradient(circle, rgba(136, 0, 255, 0.226), transparent 70%);
  filter: blur(40px);
  z-index: -1;
}


.btn {
  position: relative;
  border: none;
  color: #ffffff;
  background: transparent;
  padding: 12px 24px;
  font-weight: 600;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures text stays on top */
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
  box-shadow:
    0 0 15px rgba(255, 149, 0, 0.3),
    0 0 5px rgba(251, 75, 2, 0.2);
  transition: width 0.3s ease;
  border-radius: 0.5rem;
}

.btn:hover {
  color: #000;
}

.btn:hover:after {
  width: 100%;
}

.btn:active {
  top: 2px;
}

.card2 {
  width: 300px;
  height: 200px;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
              -15px -15px 30px rgba(60, 60, 60, 0.082);
  background-color: #000000;
  cursor: pointer;
}

.card2:hover {
  height: 380px;
  background: linear-gradient(360deg, #fffdfd 60%, #000000 70%);
}

.face1 {
  height: 200px;
  background: linear-gradient(to right top, #ff5349, #ed4e3a, #db4a2c, #c9451e, #b7410e); /*#DC143C, #003366, #583434, #341534*/
  color: #fffdfd;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.card2:hover .face1 {
  transform: translateY(-40px);
}

.face2 {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 260px;
  background: #fffdfd;
  color: #000000;
  z-index: 1;
  padding: 16px;
  transition: top 0.5s ease;
}

.card2:hover .face2 {
  top: 160px;
}

.face2 ul {
  list-style-type: disc;
  padding-left: 16px;
  font-size: 0.85rem;
}

